
* {
    margin: 0;
    padding: 0;
}
/* HEADER */
#banner{
  width: auto;
  height: 200px;
  background-image: url('../img/bannerBeer.png');
  background-repeat: no-repeat;
}
#mainTitle{
  text-transform: uppercase;
  text-align: center;
  color: #FCDC12;
  font-size: 50px;
  text-shadow: 1px 1px 2px black;
}
#navBar{
  justify-content: space-around;
  margin: 0 auto;
  width: 757px;
}

#navBar li{
  background-image: url('../img/inactiveButton.png');
  /* background-color: #562a06; */
  border:2px solid black;
  list-style: none;
  color: white;
  padding: 10px 25px;
  text-shadow: 1px 1px 2px black;
  display: inline-block;
  border-radius: 10px;
  font-size: 30px;
  margin-top: 5px;

}
#navBar a{
  color: white;
}
#navBar a:link{
  text-decoration: none;
}
#navBar .activePage{
  background-image: url('../img/backgroundButton.png');

}
/* FIN HEADER */
body{
  background-image: url('../img/bodyBackground.jpg');
}
